.Alarms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  color: white;
  padding: 1%;
}

.Alarms h2{
  color: white;
  margin-bottom: 20px;
}

#alarmTable {
  background-color: var(--black);
  width: 100%;
  color: white;
  border-collapse: collapse;
  border-radius: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 70vh; /* Adjust based on your needs */
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

#alarmTable th {
  background-color: black;
  color: white;
  /* padding: 10px; */
  text-align: left;
  padding: 1%;
  box-shadow: 4px 4px 5px -5px var(--black);
  /* border-radius: 10px; */
}

#alarmIDth {
  background-color: black;
  color: white;
  /* padding: 10px; */
  text-align: left;
  width: 20%;
}

#alarmTable td {
  padding: 1%;
  /* border-bottom: 1px solid var(--light-blue); */
  box-shadow: 4px 4px 5px -5px var(--light-blue);
  border-radius: 10px;
}
