@import url("navbar.css");
@import url("header.css");
@import url("sections.css");
@import url("machine.css");
@import url("home.css");
@import url("settings.css");
@import url("alarms.css");
@import url("sidebar.css");
@import url("positions.css");
@import url("wms.css");

:root {
  --light-blue: #c3f2f5;
  --black: #222;
  --light-grey: #555353;
  --grey: #363535;
  --dark-grey: #303030;
  --color-bg: #303030;
  --text-shadow: 0 0 5px #0f5a5e, 0 0 8px #0f5a5e;
  --box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
    0 5px 5px rgba(0, 0, 0, 0.5), 0 15px 25px rgba(0, 0, 0, 0.35);
  --box-shadow-selected: inset 0 2px 2px rgba(0, 0, 0, 0.35),
    inset 0 5px 5px rgba(0, 0, 0, 0.5), inset 0 15px 25px rgba(0, 0, 0, 0.35);
  --gradient: linear-gradient(#555353, #363535, #303030);
  --filter-blue: invert(100%) sepia(15%) saturate(7345%) hue-rotate(169deg)
    brightness(92%) contrast(111%) drop-shadow(0 0 5px #0f5a5e)
    drop-shadow(0 0 8px #0f5a5e);
  --filter-white: invert(100%) sepia(69%) saturate(2%) hue-rotate(205deg)
    brightness(105%) contrast(101%);
  --text-shadow-blue: 0px 0px 20px rgba(195, 242, 245, 1);
  --text-shadow-red: 0px 0px 20px red;
  --gradient-bg: linear-gradient(145deg, #555353, #363535, #303030);
  --gradient-bg-btn: linear-gradient(#555353, #363535, #303030);
}

* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, supported by most modern browsers */
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  /* overflow: hidden; */
  background-color: var(--color-bg);
}

/* * {
  border: 1px solid red; 
} */

#warning {
  display: none;
}

@media screen and (max-width: 665px) {
  #contents {
    display: none;
  }
  #warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 45px;
    text-align: center;
    height: 100vh;
  }
}

@media screen and (orientation: portrait) {
  #contents {
    display: none;
  }
  #warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 45px;
    text-align: center;
    height: 100vh;
  }
}
