.sidebarMode {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 20%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Start off-screen */
  gap: 5%;
  padding: 1%;
  z-index: 10;
}

.sidebarMode.open {
  transform: translateX(0); /* Move into view */
  height: 150vh;
}

/* Additional CSS to style the switch and commands sections */
.sidebarMode h3 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.switch button {
  cursor: pointer;
  padding: 10%;
  color: var(--black);
  font-weight: 600;
  border-radius: 10px;
  background: var(--gradient-bg-btn);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--black);
  font-size: 18px;
}

.switch button:focus {
  box-shadow: var(--box-shadow-selected);
  text-shadow: var(--text-shadow-blue);
  color: var(--light-blue);
}

/* Active state for "MANUAL" or "AUTO" mode buttons */
.switch button.button-active {
  box-shadow: var(--box-shadow-selected);
  text-shadow: var(--text-shadow-blue);
  color: var(--light-blue);
}

.commands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.commands div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

/* Initial styling for command buttons (visible as usable) */
.commands button {
  cursor: pointer;
  padding: 8%;
  color: var(--black);
  font-weight: 600;
  border-radius: 10px;
  background: var(--gradient-bg-btn);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--black);
  font-size: 18px;
}

/* Style for command buttons when clicked */
.commands button.clicked {
  /* Example styles for clicked state */
  transform: scale(0.95); /* Slightly scale down the button */
  opacity: 0.8; /* Make button slightly transparent */
  text-shadow: var(--text-shadow-blue); /* Add text shadow */
  color: var(--light-blue); /* Change text color */
  box-shadow: var(--box-shadow-selected); /* Add box shadow */
}

.commands button:hover {
  text-shadow: var(--text-shadow-blue);
  color: var(--light-blue);
}

/* Styling for disabled command buttons */
.commands button.disabled {
  opacity: 0.3; /* Dim the button to show it's inactive */
  cursor: default; /* Change cursor to indicate non-interactive state */
}

.commands button.disabled:hover {
  text-shadow: none; /* Remove hover effect */
  color: var(--black); /* Keep text color the same */
}

.commands button.disabled:focus {
  box-shadow: var(--box-shadow); /* Keep focus effect */
  text-shadow: none; /* Remove focus effect */
  color: var(--black); /* Keep text color the same */
}
/* Base styles for .sidebarMode remain unchanged */
/* Base styles for .sidebarMode remain unchanged */

@media screen and (max-width: 1650px) {
  .sidebarMode {
    width: 27%; /* Adjust width for medium-sized screens */
    font-size: 1.75rem; /* Adjust font size for readability */
  }
  .switch button,
  .commands button {
    padding: 5%; /* Adjust padding for touch targets */
    font-size: 1.2rem; /* Adjust font size for readability */
  }


}

@media screen and (max-width: 1250px) {
  .sidebarMode {
    width: 27%; /* Further adjust width for small screens */
    font-size: 1.5rem; /* Further adjust font size */
  }
  .switch button,
  .commands button {
    padding: 7%; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
  }

  .sidebarMode h3 {
    justify-content: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .sidebarMode {
    width: 30%; /* Adjust width for very small screens */
    font-size: 1.25rem; /* Adjust font size for very small screens */
 
  }

  .switch button,
  .commands button {
    padding: 5% 4%; /* Adjust padding for very small screens */
    font-size: 1rem; /* Adjust font size for very small screens */
  }

  .sidebarMode h3 {
    justify-content: center;
    font-size: 1rem;
  }
}

@media screen and (orientation: portrait) {
  .sidebarMode {
    display: none; /* Hide sidebar in portrait mode to optimize space */
  }
}
