#WMS_title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
/* Style for the WMS-container class */
.WMS-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.WMS-container p {
  width: 100%;
}

.WMS-container span {
  font-size: 20px;
  /* font-weight: bold; */
  color: white;
  text-align: center;
  color: var(--light-blue);
  text-shadow: var(--text-shadow-blue);
}

/* Style for the WMS-to-PLC ID */
#WMS-to-PLC {
  /* Existing styles */
  height: 80%;
  width: 100%;

  /* Styles for the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
}

#WMS-to-PLC h2 {
  /* Existing styles */
  margin-bottom: 20px;
}

#WMS-to-PLC p {
  /* Existing styles */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30%;
  gap: 1%;
  font-size: 20px;
  font-weight: 600;
}

#WMS-to-PLC::-webkit-scrollbar {
  width: 2px;
}

#WMS-to-PLC::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 4px;
}

/* Style for the PLC-to-WMS ID */
#PLC-to-WMS {
  /* Existing styles */
  height: 80%;
  width: 100%;

  /* Styles for the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
}

#PLC-to-WMS h2 {
  /* Existing styles */
  margin-bottom: 20px;
}

#PLC-to-WMS p {
  /* Existing styles */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30%;
}

#PLC-to-WMS::-webkit-scrollbar {
  width: 2px;
}

#PLC-to-WMS::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 4px;
}

/* Style for the hr element */
.WMS-container hr {
  width: 100%;
  height: 3px;
  background-color: var(--light-blue);
  text-shadow: var(--text-shadow-blue);
  border: none;
  margin: 20px;
  width: 70%;
}

#hr-v {
  width: 3px; /* Width of the vertical line */
  height: 80%; /* Height of the vertical line */
  background-color: var(--light-blue); /* Color of the vertical line */
  text-shadow: var(--text-shadow-blue); /* Text shadow for the vertical line */
  border: none; /* Remove the default border */
}

#ErrorInfoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-blue);
  width: 25px;
  height: 25px;
  cursor: help;
  background-color: var(--black);
  border-radius: 50px;
  text-shadow: var(--text-shadow);
  font-size: 18px;
  cursor: pointer;
}

#ErrorDescription {
  display: none;
  position: relative;
  width: 70%;
  padding: 10px;
  background-color: var(--black);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 18px;
}

.Saved {
  display: none;
  /* Add more styling as needed */
}

.error {
  color: red;
}
