#WMS_title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
/* Style for the WMS-container class */
.WMS-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.WMS-container p{
  width: 100%;
}

/* Style for the WMS-to-PLC ID */
#WMS-to-PLC {
  /* Existing styles */
  height: 80%;
  width: 100%;
  overflow-y: auto;

  /* Styles for the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#WMS-to-PLC h2 {
  /* Existing styles */
  margin-bottom: 20px;
}

#WMS-to-PLC p {
  /* Existing styles */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#WMS-to-PLC::-webkit-scrollbar {
  width: 2px;
}

#WMS-to-PLC::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 4px;
}

/* Style for the PLC-to-WMS ID */
#PLC-to-WMS {
  /* Existing styles */
  height: 80%;
  width: 100%;
  overflow-y: auto;

  /* Styles for the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) transparent;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#PLC-to-WMS h2 {
  /* Existing styles */
  margin-bottom: 20px;
}

#PLC-to-WMS p {
  /* Existing styles */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



#PLC-to-WMS::-webkit-scrollbar {
  width: 2px;
}

#PLC-to-WMS::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 4px;
}

/* Style for the hr element */
.WMS-container hr {
  width: 3px; /* Width of the vertical line */
  height: 80%; /* Height of the vertical line */
  background-color: var(--light-blue); /* Color of the vertical line */
  text-shadow: var(--text-shadow-blue); /* Text shadow for the vertical line */
  border: none; /* Remove the default border */
}
